<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="minCarbohydrates" value="10" />
    <add key="maxCarbohydrates" value="80" />
    <add key="minFats" value="10" />
    <add key="maxFats" value="70" />
    <add key="minProtein" value="10" />
    <add key="maxProtein" value="70" />
  </appSettings>
</configuration>